/* Begin Structure */

#map { 
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
 }

body {
	background-color: #ddd;
	margin: 0 auto;

}

#content.about {
	background-color: black;
	padding-top: 0px;
}
.head-foot-bars {
	width: 100%;
}

/* End Structure */
/* Classes */
/*.clear {
	clear: both;
}*/
/* End Classes */

/* Begin Header */
#header {
	position: fixed;
	padding: 0px;
	height: 89px;
	font-color:white;
	background-color: #1E1F1F;
	opacity: .95;
	font-family: 'Offside', cursive;'

}

#headerimg {
	width: 210px;
	margin-left: 1%;
	float: left;
	opacity: 0.7;
	margin-top: '0px';
}

#headernav {
	width: 633px;
	float: right;
	text-align: right;
	margin-right: 1%;
	height: 100%;
}

#headernav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: inline;
	height:90px;
}

.nav-buttons a {
	display: block;
	float: right;
	padding: 30px 32px 30px 32px;
	border-right: solid 1px #333333;
	margin-left: -1px;
	font-size: 121%;
	text-decoration: none;
}

#sign-in a,
#sign-in a:hover {
	background-color: #ddd9c9;
	color: black;
	border: none;
	bottom:0;
}

#headerimg img:hover {
	opacity: 1.0; 
	margin-top: '5px';
}

/*#headernav li a img {
	padding-bottom: 3px;
}
#headernav li a:hover img {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	border-bottom: solid 1px #0a97b5;
}*/

/*#headernav #sign-in a:hover img {
	border: none;
}
#headernav li.no-border-right a {
	border-right: none;
}*/


a:visited
{
color:white;
}

/*side bar start*/
#sidebar
{
    position:fixed;
    float: left;
    margin-top: 130px;
    width: 250px;
    background: white;
    min-height: 100%;
    opacity: .75;
}
/*sidebar end*/


/* Navigation */
/*.navigation {
	width: 950px;
}
.navigation a {
	position: relative;
	display: block;
	width: 158px;
	height: 35px;
	background-color: black;
}
.navigation .alignleft a img {
	position: absolute;
	top: 10px;
	right: 15px;
}
.navigation .alignright a img {
	position: absolute;
	top: 10px;
	left: 15px;
}
.navigation .alignleft,
.navigation .alignright {
	width: 178px;
	height: 35px;
}
.navigation .alignright {
	float: right;
	text-align: right;
	width: 158px;
}
.navigation .alignleft {
	float: left;
}*/
/* End Navigation */

#feedback-page{
	text-align:center;
}


#form-div {
	display:none; /*comment out to show box*/
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	top: 40%;
	left: 40%;
	position: absolute;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#0493bd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

/*email, name box end*/

/*Question box Stuff*/
.questionbox {
	display:none;
	padding-left:35px;
	padding-right:35px;
	padding-top:10px;
	padding-bottom:50px;
	width: 487px;
	margin: 0px;
	height:350px;
	float: left;
	top: 30%;
	left: 40%;
	position: absolute;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: rgba(3, 5, 5, 0.8);
  font-size: 18px;
 /*background-color: #1E1F1F;*/
 /*opacity:.8;*/
  }

.questionbox h2 {
	float: top;
	font-family: 'Offside', cursive;'
	font-size: 27px;
	overflow: none;
	text-align: center;
	padding-bottom: 90%;
	color:white;
	padding-left: 10%;
	padding-right: 10%
}

.questionbox h1 {
	padding-top: 35%;
	padding-bottom: 30%;
	font-family: 'Offside', cursive;'
	font-size: 60%;
/*	overflow: none;*/
	text-align: center;
	color:white;
	opacity:1;
	float:top;
}

#interncircle {
-webkit-border-radius: 280px;
-moz-border-radius: 280px;
border-radius: 280px;
width:280px;
height:280px;
behavior: url(PIE.htc);
background:rgba(111, 179, 169, .75);
position:absolute;
display:inline-block;
right: 47%;
top:20%;
transition: 0.2s all ease-in-out;
}

#startupcircle {
-webkit-border-radius: 280px;
-moz-border-radius: 280px;
border-radius: 280px;
width:280px;
height:280px;
behavior: url(PIE.htc);
background:rgba(207, 100, 66, .75);
position:absolute;
display:inline-block;
right: 3%;
top:20%;
transition: 0.2s all ease-in-out;
}

#interncircle:hover {
	background:rgba(111,179,169, 1);
}

#startupcircle:hover {
	background:rgba(207,100,66,1.0);
}
 #interncircle:active {

 }
#startupcircle:active {

}

/*---------------Question Box stuff ends------------*/

#welcomebox{
/*	display: none;*/
	width: 687px;
	margin: 0px;
	height:550px;
	font-color:white;
	background-color: #1E1F1F;
	opacity: .95;
	font-family: 'Offside', cursive;'
	-moz-border-radius: 15px;
  	webkit-border-radius: 15px;
  	border-radius:15px;
  	float: left;
	top: 300px;
	left: 37%;
	right:35%;
	position:relative;
}

#welcomebox h2 {
	float: top;
	font-family: 'Offside', cursive;'
	font-size: 27px;
	/*overflow: none;*/
	text-align: center;
	color:white;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 4%;
}

#welcomebox p {
	font-family: 'Offside', cursive;'
	font-size: 25px;
	text-align: center;
	color: white;
	opacity: 1;
	position:relative;
}

#welcomeimg {
	width: 210px;
	padding-top:35%;
	padding-left: 40%;
	position:relative;
}

#next {
	opacity
	transition: 1s all ease-in-out;	
}